.nav {
  justify-content: space-between;
  background-color: rgba(89, 169, 216, 0.411);
}

.nav h1 {
  background-color: rgb(115, 233, 233);
}

.nav nav {
  display: flex;
  align-items: center;
}

.nav nav a {
  padding: 10px;
  font-size: 14px;
}

.headerimg {
  background-image: url("../img/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  background-position: center;
}

.subtitle {
  display: flex;
  justify-content: flex-end;
  height: 150px;
}

.subtitle p {
  align-self: flex-end;
  background-color: aqua;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-side {
  flex-basis: 100%;
  background-color: rgb(88, 73, 172);
}

.right-side {
  flex-basis: 100%;
  display: flex;
  background-color: rgb(118, 102, 139);
}

.right-side p {
  align-self: center;
}

@media only screen and (min-width: 768px) {

  .left-side {
    flex-basis: 30%;
  }

  .right-side {
    flex-basis: 70%;
    display: flex;
  }
}

/* end of media query */
.card {
  text-align: center;
  border-style: solid;
  height: 340px;
  position: relative;
}

.CD-100 {
  flex-basis: 100%;
  border: 2px solid #ffffff;
}

.CD-100 img {
  height: 311px;
  width: 98%;
}

.CD-50 {
  flex-basis: 50%;
}

.CD-90 {
  flex-basis: 50%;
}

.CD-90 img {
  height: 310px;
  width: 100%;
}

.CD-80 {
  flex-basis: 50%;
}

.CD-80 img {
  height: 310px;
  width: 100%;
}

.CD-50:hover {
  flex-basis: 50%;
  background-image: url("../img/Coming\ soon.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

.text-center {
  text-align: center;

}

.border {
  border-right: 5px solid;
  height: 100%;
  padding: 50px;
}

.picofme {
  width: 30%;
  height: 300px;
}