.nav {
    justify-content: space-between;
    background-color: gray;
}
.nav h1 {
    background-color: aqua;
}
.nav nav {
    display: flex;
    align-items: center;
}
.nav nav a {  
    padding: 10px;
    font-size: 14px;
}
.headerimg {
    background-image: url("../img/utah-the-fort-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.subtitle {
    display: flex;
    justify-content: flex-end;
    height: 150px;
}
.subtitle p {
    align-self: flex-end;
    background-color: aqua;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .left-side {
    flex-basis: 100%;
    background-color: blueviolet;
  }

  .right-side {
    flex-basis: 100%;
    background-color: brown;
  }
@media only screen and (min-width: 768px) {

  .left-side {
    flex-basis: 30%;
  }

  .right-side {
    flex-basis: 70%;
}
}
  /* end of media query */
  .card {
    text-align: center;
    border-style: solid;
    height: 340px;
    padding: 20%;
  }

  .CD-100 {
    flex-basis: 100%;
    border: 2px solid #ffffff;
    background-image: url("../img/html&css.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .CD-100:hover {
    flex-basis: 100%;
    background-image: url("../img/HTML-VS-CSS-Barebone-Structure-Vs-Style.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }

 .CD-50 {
    flex-basis: 50%;
}
.CD-50:hover {
  flex-basis: 50%;
  background-image: url("../img/Coming\ soon.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
.text-center {
    text-align: center;

}

.border {
    border-right: 5px solid;
    height: 100%;
    padding: 50px;
}

.picofme {
    width: 30%;
    height: 300px;
}